@charset "UTF-8";

body {
    background-image: url(../imagens/capa.png),
                      url(../imagens/ruido.png),
                      linear-gradient(45deg, rgb(251, 9, 199),rgb(34, 0, 255));
    background-attachment: fixed;
    background-repeat: repeat;
    
}

nav {
    background-color: rgba(0, 0, 0, 0.689);
}

.nav-items-divider::after {
    content: '';
    height: 50%;
    width: 1px;
    position: absolute;
    top: 25%;
    margin-left: 12px;
    margin-right: 0px;
    background-color: white; 
}

.nav-link {
    color: white;
}

.nav-item:hover .nav-link {
    color: rgb(162, 162, 162);
}

@media screen and (max-width: 768px) {
    .nav-items-divider::after {
        width: 0;
    }
}



/*---------- Home -----------*/
.home {
    height: 100vh;
}

.btn-purple {
    background-color: #7c25f8; color: white;
    border: 1px solid white;
}

.btn-purple:hover {
    background-color: #6627bf;
    color: white;
}

/* Home Media Queries */

/* Extra small devices */
@media (max-width: 575.98px) {
    h1 {
        font-size: 2em;
    }
}

@media (min-width: 576px) and (max-width:767.98px) {
    h1 {
        font-size: 3em;
    }
}
@media (min-width: 768px) and (max-width:991.98px) {
    h1 {
        font-size: 4em;
    }
}
@media (min-width: 992px) and (max-width:1199.98px) {
    h1 {
        font-size: 5em;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 6em;
    }
}


/* ----------- Services ---------- */

.purple {
    color: #7c25f8;
}